.App {
  background-color: rgb(238, 238, 238);
  padding: 10px 20px;
}

.container {
  display: flex;
  justify-content: flex-end;
  height: 340px;
  width: 700px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 340px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.btn {
  background-color: transparent;
  border: 2px solid #373de1;
  color: #373de1;
  border-radius: 30px;
  padding: 5px 10px;
}

.btn:hover {
  background-color: #373de1;
  color: white;
}

.btn_container {
  display: flex;
  gap: 10px;
  margin-left: 90px;
}

.alpaca {
  position: relative;
}

.alpaca-img {
  margin-left: -320px;
  position: absolute;
  width: 300px;
}

.accessories {
  z-index: 1;
}

.eyes {
  z-index: 1;
}

.mouth {
  z-index: 2;
}
